[submodule "interbotix_ros_core"]
	path = interbotix_ros_core
	url = https://github.com/Dorteel/interbotix_ros_core.git
[submodule "interbotix_ros_rovers"]
	path = interbotix_ros_rovers
	url = https://github.com/Dorteel/interbotix_ros_rovers.git
[submodule "interbotix_ros_toolboxes"]
	path = interbotix_ros_toolboxes
	url = https://github.com/Dorteel/interbotix_ros_toolboxes.git
